<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title><%= title %></title>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <script>
      let cookies = Cookies.get();
      console.log(cookies);

      let token = cookies.tok;
      let status;

      if (token) {
        if (cookies.status) {
          status = 'tracking'
          new_url = window.location.href + '&tok=' + cookies.tok;
        } else {
          status = 'entry'
        }
      } else {
        token = '<%= assign_token %>';
        status = 'new'
        document.cookie = 'tok=<%= assign_token %>; expires=<%= expires %>';
      }

      let new_url = window.location.href + '&tok=' + token + '&sts=' + status;
      console.log(new_url);
      window.open(new_url, '_self');
    </script>
  </head>
  <body>
  </body>
</html>
