html {
    margin: 0;
    overflow: hidden;
}

body {
    margin: 0;
    overflow: hidden;
}

#video {
    border: none;
    width: 100%;
}

.shrink {
  height: 0;
  margin; 0;
  padding: 0;
  border: none;
  overflow: hidden;
}
